name: FreeBSD Build

on:
  workflow_call:
    inputs:
      ring-version:
        required: true
        type: string

jobs:
  build:
    strategy:
      matrix:
        include:
        - release: "15.0"
          arch: amd64
          arch_name: amd64
          name: freebsd-amd64
          runner: ubuntu-latest
        - release: "15.0"
          arch: aarch64
          arch_name: arm64
          name: freebsd-arm64
          runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Build in FreeBSD VM
      id: freebsd_build
      uses: vmactions/freebsd-vm@v1
      with:
        release: ${{ matrix.release }}
        arch: ${{ matrix.arch }}
        usesh: true
        sync: rsync
        mem: 4096
        prepare: |
          pkg update -f
          pkg install -y cmake git ninja pkgconf

        run: |
          # Clone Ring Source
          git clone --branch ${{ inputs.ring-version }} --depth 1 https://github.com/ringpackages/ringsrc.git ring
          cd ring

          # Set RING environment variable
          export RING=$(pwd)

          # Build and Install Ring Language
          cd language
          cmake . -DCMAKE_BUILD_TYPE=Release -GNinja
          ninja install
          cd ../..

          rm -rf lib

          # Build ring-markdown lib
          cmake . -DCMAKE_BUILD_TYPE=Release -GNinja
          ninja

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ring-markdown-${{ matrix.name }}
        path: lib
